<div class="row">
  <div class="col-xxxl-3 col-xxl-3 col-lg-4 col-md-6 col-sm-12" *ngFor="let machine of machines">
    <nb-card [attr.class]="machine.opStatus">
      <nb-card-header>{{ machine.name }}</nb-card-header>
      <nb-card-body>
        <ng-container *ngIf="machine.opStatus=='run'">
          Operation status: Running
        </ng-container>
        <ng-container *ngIf="machine.opStatus=='stop'">
          Operation status: Stop
        </ng-container>
        <ng-container *ngIf="machine.opStatus=='emg'">
          Operation status: Emergency
        </ng-container>
        <br>
        Operator: {{ machine.operator }}
      </nb-card-body>
    </nb-card>
    <!-- <nb-card status="success" *ngIf="machine.opStatus==1">
      <nb-card-header>{{ machine.name }}</nb-card-header>
      <nb-card-body>
        Operation status: Running
        <br>
        Operator: {{ machine.operator }}
      </nb-card-body>
    </nb-card>
    <nb-card status="danger" *ngIf="machine.opStatus==2">
      <nb-card-header>{{ machine.name }}</nb-card-header>
      <nb-card-body>
        Operation status: Emergency Stoped
        <br>
        Operator: {{ machine.operator }}
      </nb-card-body>
    </nb-card> -->
  </div>
</div>